* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #141850;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem;
    text-align: right;
    font-size: 4rem;
    color: white;
}

h2 {
    text-align: right;
    font-size: 1rem;
    font-weight: 250;
    color: #fecf29;
    letter-spacing: 1rem;
    margin: 1rem;
}

section {
    max-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

section.hide {
    display: none;
}

.planeter {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7rem;
}

.planeter li {
    border-radius: 50%;
}

.solen {
    width: 30rem;
    height: 30rem;
    margin-left: -30rem;
    background-color: gold;
}

.merkurius {
    width: 1rem;
    height: 1rem;
    background-color: rgb(128, 128, 128);
}

.venus {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(242, 216, 181);
}

.jorden {
    width: 1.5rem;
    height: 1.5em;
    background-color: lightblue;
}

.mars {
    width: 1rem;
    height: 1rem;
    background-color: brown;
}

.jupiter {
    width: 7rem;
    height: 7rem;
    background-color: rgb(255, 161, 124);
}

.saturnus {
    width: 6rem;
    height: 6rem;
    background-color: rgba(199, 170, 114, 255);
}


.saturnus hr {
    margin:3rem;
    
    margin-left: -2rem;
    transform: rotate(155deg);
    background-color: rgb(218, 215, 215);
    align-items:stretch;
    width:10rem;
    height: 3px;
    
    
}

.uranus {
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 235, 205);
}

.neptunus {
    width: 3rem;
    height: 3rem;
    background-color: grey;
}


article {
    position:absolute;
    top: 0;
    width: 100%;
    max-height: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    background-color: #101341;
    
}

article div {
    width: 40rem;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
}


.moon {
    width: 40rem;
    height: auto;
}

.moon p {
    color: grey;
    word-break: break-all;
}

article li {
    padding: 0.5rem;
    text-decoration: none;
    list-style: none;
    color: gray;
    font-size: 1rem;
}

hr {
    margin: 0 auto;
    width: 70%;
    height: 1px;
    opacity: 0.5;
}

p {
    max-width: 50rem;
    color: white;
    line-height: 2.5rem;
    text-align: center;
    word-spacing: 0.2rem;
}

article.hide {
    display: none;
}

article button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: none;
    color: #fecf29;
    padding: 0.5rem;
}

article button:hover {
    border-color: #f1ff5c; 
}

.zocom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.side {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-top:-10rem;
    position: fixed;
}

.side li {
    border-radius: 50%;
}

.firstSide {
    width: 60rem;
    height: 70rem;
    margin-left: -100rem;
    background-color: rgb(0, 183, 255);
}
.secSide{
    width: 70rem;
    height: 70rem;
    margin-left: -67rem;
    background-color: rgb(142, 185, 200);
    opacity: 0.2;
}
.theSide{
    width: 70rem;
    height: 70rem;
    margin-left: -67rem;
    background-color: rgb(173, 210, 224);
    opacity: 0.1;
}